@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-slate-700;
  font-feature-settings: "liga" 1, "kern" 1;
}

h1, h2, h3, h4 {
  @apply text-heading;
}
